<!--pages/hotelorder/order/coupon/coupon.wxml-->
<view class="container">
  <view class="couponlist">
    <view class="coupon" wx:for="{{couponlist}}" wx:key="item.id" bindtap="checked" data-index="{{index}}">
      <view class="coupontype" >{{item.type}}</view>
      <view class="couponvalue">{{item.value}} <text>房券</text> </view>
      <view class="mask" wx:if="{{checked==item.id}}">
      <!-- <view class="mask" style="display:{{checked==item.id? block: none}}"> -->
         <image class="shiyong" src="/images/xz.png"></image> 
      </view>
    </view>

  </view>
  <view class="bottom" >
    <view class="ljsy" bindtap="ljsy">立即使用</view>
  </view>
</view>
