<!--pages/platformMana/hotelManalist/hotelManalist.wxml-->
<view class="content">
	<view class="top">
		<view class="title">合伙人业绩统计</view>
	</view>
   <!-- <view class="left" style="text-indent: 0rpx;">
      <view class="explain">说明：点击开关可以冻结/启用账户，冻结后，该账户将无法使用支付相关功能</view> 
    </view> -->
  <!-- <view class="picker">
    <picker bindchange="bindPickerChange" value="{{index}}" range="{{objectArray}}" range-key="name">
      <view class="picker">
     <view class="picker_text">级别：{{objectArray[index].name}}<text class="iconfont icon-xiala"></text></view>
      </view>
    </picker>
  </view> -->
  <view class="nav">
	<view class="left" wx:for="{{list}}" wx:key="item.nickname">
    <view class="zh"><image src="{{item.avatar}}"></image>
      <text> {{item.nickname}}</text>
    </view> 
    <view class="li">
      <label>酒店合同：</label>  {{item.hotelCount}}
    </view>
    <view class="li">
      <label>酒店合同总金额：</label>  {{item.hotelSum}}
    </view>
    <view class="li">
      <label>合伙人合同：</label>  {{item.partnerCount}}
    </view>
    <view class="li">
      <label>合伙人合同总金额：</label>  {{item.partnerSum}}
    </view>
     <view class="li">
      <label>供应商合同：</label>  {{item.supplierCount}}
    </view>
	</view>
  </view>
</view>