/* pages/ranklsit/ranklsit.wxss */
page{
  background-color:rgba(0, 0, 0, .9);
}
.container{
  margin: 0;
  padding: 0;
}
.title{
  width: 100%;
  position: relative;
}
.title .back{
  position: absolute;
  top: 60rpx;
  left: 10rpx;
}
.top{
  width: 100%;
  height: 330rpx;
  background: url('http://cdn.jiachang8.com/Fjv1DOnv6hYO8eSp4M42g_ThGHL1') no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 0;
}
.top .mask1{
  width: 100%;
  height: 330rpx;
  background-color:rgba(0, 0, 0, .3);
}
.top image{
  width: 100%;
  opacity: 0.8;
}
.city{
  width:200rpx;
  line-height: 70rpx;
  border-radius: 20rpx;
  margin:auto;
  color: #fff;
  text-align: center;
  border: 1rpx solid #fff;
}
.top_text{
  width: 100%;
  color: #fff;
  font-size: 40rpx;
  text-align: center;
  margin-top: 20rpx;
}
.top_content{
  width: 100%;
  color: #fff;
  margin-top: 20rpx;
}
.information{
  width: 90%;
  margin: auto;
}
.li{
  width: 33.3%;
  text-align: center;
  display: inline-block;
}

.scroll-view_H{
  white-space: nowrap;
  width: 200%;
  background-color:rgba(0, 0, 0, .9);
}
.scroll-view-item_H{
  margin-left: 20rpx;
  width: 300rpx;
  height: 200rpx;
  background:#fff;
  display: inline-block;
}
.bottom{
  width: 100%;
  background-color:rgba(0, 0, 0, .9);
}
.hotel{
  width: 90%;
  height: 540rpx;
  margin:20rpx auto;
  background-color:#fff;
  border-radius: 20rpx;
  overflow: hidden;
}
.honor{
  color: #fff;
  position: relative;
}
.honor .praise{
  position: absolute;
  bottom: 20rpx;
  left: 20rpx;
  color: #fff;
  font-size: 48rpx;
}
.icon-jinpai{
 font-size: 80rpx;
}
.icon-phb{
  font-size: 100rpx;
}
.icon1{
  color: #eaba6e;
}
.icon2{
  /* argentum */
  color: #c0c0c0;
}
.paixingbang{
  position: relative;
}
.paixingbang .rank_TOP{
  position: absolute;
  top: 18rpx;
  left: 17rpx;
  z-index: 10;
  color: #fff;
  font-size: 30rpx;
  font-weight: 600;
}
.paixingbang .rank_number1{
  position: absolute;
  top: 50rpx;
  left: 37rpx;
  z-index: 10;
  color: #fff;
  font-size: 36rpx;
  font-weight: 600;
}
.honor{
  width:675rpx; 
  height: 360rpx;
  background-size: 100% 100%;
  -moz-background-size:100% 100%;
  margin: 0;
  padding: 0;
}

/* 返回顶部 */
.goTop{
  height: 80rpx;
  width: 80rpx;
  position: fixed;
  bottom: 50rpx;
  /* background: rgba(0,0,0,.3); */
  right: 30rpx;
  border-radius: 50%;
}
.hotel_name{
font-size: 32rpx;
font-weight: 600;
color: #000;
text-indent: 10rpx;
}
.grade{
  font-size: 32rpx;
  font-weight: 500;
  color: #000;
  text-indent: 10rpx;
}
.recommend_reason{
  font-size: 28rpx;
  padding-left: 10rpx;
}