page {
  height: 100%;
}
/* .top-c {
  width: 100%;
  height: 140rpx;
  background: #fff;
  text-align: center;
} */
.top-f{
  width: 100%;
  position: fixed;
  top: 0rpx;
  left: 0rpx;
  z-index: 99;
}
.top-c text {
  color: #fff;
  font-size: 32rpx;
  line-height: 32px;
}
.container {
  background: #f9f9f9;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search {
  height: 100rpx;
  width: 100%;
  padding: 0 30rpx;
  background: #5fb7fe;
  /* background: #fff; */
  display: flex;
  align-items: center;
}

.search .input {
  width: 100%;
  height: 62rpx;
  border-radius: 50rpx;
  display: flex;
  padding-top: 10rpx;
  padding-left: 20rpx;
  align-items: left;
  vertical-align: middle;
  justify-content: left;
  background: #fff;
}

.search .icon {
  background: url('https://jczh.jiachang8.com/mpimage/checkbox.png') center no-repeat;
  background-size: 100%;
  width: 34rpx;
  height: 34rpx;
  margin-top: 5rpx;

}
.search .txt {
  height: 42rpx;
  line-height: 42rpx;
  padding-left: 10rpx;
  font-size: 26rpx;
}
.catalog {
  flex: 1;
  width: 100%;
  background: #fff;
  display: flex;
  border-top: 1px solid #fafafa;
  margin-top: 240rpx;
}
.catalog .nav {
  width: 162rpx;
  height: 100%;
  background: #f7f7f7;
}

.catalog .nav .item {
  text-align: center;
  /* line-height: 90rpx; */
  width: 162rpx;
  height: 90rpx;
  color: #333;
  font-size: 28rpx;
  /* border-left: 6rpx solid #fff; */

}

.catalog .nav .item.active {
  /* color: #5fb7fe; */
  color: #ff001c;
  font-size: 29rpx;
  background: #fff;
  /* border-left: 6rpx solid #ff001c; */
}
.catalog .nav .active_text{
  font-size: 26rpx;
  line-height: 90rpx;
  height: 100%;
}
.catalog .nav .active .active_text {
  border-left: 12rpx solid #ff001c;
  height: 30rpx;
  line-height: 32rpx;  
  font-size: 26rpx;
}
.catalog .nav .active {
  position: relative;
}
.catalog .nav .active .active_text {
  position: absolute;
  top: 30rpx;
  width: 100%;
}
.catalog .cate {
  border-left: 1px solid #fafafa;
  flex: 1;
  height: 100%;
  padding: 0 30rpx 0 30rpx;
}
.banner {
  display: block;
  height: 222rpx;
  width: 100%;
  position: relative;
}

.banner .image {
  position: absolute;
  top: 30rpx;
  left: 0;
  border-radius: 4rpx;
  height: 192rpx;
  width: 100%;
}

.banner .txt {
  position: absolute;
  top: 30rpx;
  text-align: center;
  color: #fff;
  font-size: 28rpx;
  left: 0;
  height: 192rpx;
  line-height: 192rpx;
  width: 100%;
}

.catalog .hd {
  height: 108rpx;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog .hd .txt {
  font-size: 24rpx;
  text-align: center;
  color: #333;
  padding: 0 10rpx;
  width: auto;
}

.catalog .hd .line {
  width: 100rpx;
  height: 1px;
  background: #d9d9d9;
}

.catalog .bd {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.catalog .bd .item {
  display: block;
  float: left;
  height: 200rpx;
  width: 152rpx;
  margin-right: 28rpx;
}

.catalog .bd .item.last {
  margin-right: 0;
}

.catalog .bd .item .icon {
  height: 152rpx;
  width: 152rpx;
}

.catalog .bd .item .txt {
  display: block;
  text-align: center;
  font-size: 24rpx;
  color: #333;
  height: 62rpx;
  width: 152rpx;
}
