<wxs src="../../../../app.wxs" module="app" />
<view class="tabNav">
	<view wx:for="{{navTab}}" wx:key="index" data-idx="{{index}}" bindtap="currentTab" class="{{currentTab==index ? 'cur' : ''}}">
		<text>{{item.name}}</text>
	</view>
</view>
<view class="orderInfo">
	<view wx:for="{{estimatelist}}" wx:key="item.id" class="orderInfo-item " wx:if="{{navTab[currentTab].name=='全部'}}" >
  <view class="jianju"></view>
	<view data-code="{{item.order_code}}" bindtap="details">
      <view class="list hotle nickname">
        <image class="icon" src="{{item.avatar}}"></image>
        <text class="nickname_t">{{app.yincang(item.nickname)}}</text>
      </view>
      <view class="list list_star">
				<text class="iconfont icon-xingxing" wx:for="{{item.star}}" wx:key="index"></text>
        <text class="text list_time">{{app.time(item.add_time)}}</text>
      </view>
			  <view class="list-text"  style="color:#666666;">{{item.content}}</view>
        <view class="nickname_image" style="display:{{item.pic_urls=='[]'?'none':'block'}}">
          <view  class="nickname_img " wx:for="{{app.e_img(item.pic_urls)}}" wx:for-item="items"   wx:key="index">
            <image src="{{items}}" mode="{{mode}}" bindtap="itemImg" data-itemImg="{{item.pic_urls}}"></image>
          </view>
        </view>
			</view>
	</view>
	<view class="orderInfo-item {{estimatelist.length >0?'none':'block'}}">
		<view class="list">
			暂未查询到您的订单
		</view>
	</view>
</view>
<view class="orderInfo1">
	<view wx:for="{{estimatelist}}" wx:key="item.id" class="orderInfo-item " wx:if="{{hasPicture}}" >
  <view class="jianju"></view>
		<view data-code="{{item.order_code}}" bindtap="details">
      <view class="list hotle nickname">
        <image class="icon" src="{{item.avatar}}"></image>
        <text class="nickname_t">{{app.yincang(item.nickname)}}</text>
      </view>
			  <view class="list list_star">
				 	<text class="iconfont icon-xingxing" wx:for="{{item.star}}" wx:key="index"></text>
        	<text class="text list_time">{{app.time(item.add_time)}}</text>
      </view>
			  <view class="list-text"  style="color:#666666;">{{item.content}}</view>
        <view class="nickname_image" style="display:{{item.pic_urls=='[]'?'none':'block'}}">
           <view  class="nickname_img " wx:for="{{app.e_img(item.pic_urls)}}" wx:for-item="items"   wx:key="index">
            <image src="{{items}}" mode="{{mode}}" bindtap="itemImg" data-itemImg="{{item.pic_urls}}"></image>
          </view>
        </view>
			</view>
		</view>
	</view>
	<view class="orderInfo1" >
	<view wx:for="{{estimatelist}}" wx:key="item.id" class="orderInfo-item " wx:if="{{star==5}}" >
  <view class="jianju"></view>
		<view data-code="{{item.order_code}}" bindtap="details">
      <view class="list hotle nickname">
        <image class="icon" src="{{item.avatar}}"></image>
        <text class="nickname_t">{{app.yincang(item.nickname)}}</text>
      </view>
			  <view class="list list_star">
				 	<text class="iconfont icon-xingxing" wx:for="{{item.star}}" wx:key="index"></text>
       	 <text class="text list_time">{{app.time(item.add_time)}}</text>
      </view>
			  <view class="list-text"  style="color:#666666;">{{item.content}}</view>
				
        <view class="nickname_image" style="display:{{item.pic_urls=='[]'?'none':'block'}}">
           <view  class="nickname_img " wx:for="{{app.e_img(item.pic_urls)}}" wx:for-item="items"   wx:key="index">
            <image src="{{items}}" mode="{{mode}}" bindtap="itemImg" data-itemImg="{{item.pic_urls}}"></image>
          </view>
        </view>
			</view>
		</view>
	</view>
	<view class="maskimg" wx:if="{{maskimg}}" bindtap="{{maskimg?'hide':''}}">
		<view class="maskimg_content">
				<swiper class="itemImg" indicator-dots="true" indicator-color="#666" indicator-active-color="#fff"  interval="3000" duration="1000">
						<swiper-item wx:for="{{app.e_img(itemimg)}}"  wx:for-item="items"   wx:key="index">
								 <!-- <image src="{{items}}" mode="{{mode1}}" bindtouchstart='touchStartHandle' bindtouchmove='touchMoveHandle' bindload='load' 
								 style="width: {{touch.scaleWidth }}rpx;height: {{touch.scaleHeight }}rpx"></image> -->
								 	 <image src="{{items}}" mode="{{mode1}}" ></image>
						</swiper-item>
					</swiper>
		</view>
	</view>