page{
  background-image: url('http://cdn.jiachang8.com/nqeo7ppyymqyvs4j5wh9.jpg');
  background-size: 100% 100%;
}
.logo image{
  width: 367.5rpx;
  height: 341.25rpx;
  position: fixed;
  top: 180rpx;
  left: 186rpx;  
}
.login-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0 40rpx;
  /* margin-top: 200rpx; */
  position: fixed;
  bottom: 170rpx;
  left: 0;
}

.wx-login-btn {
  margin: 20rpx auto;
  height: 86rpx;
  line-height: 86rpx;
  font-size: 32rpx;
  border-radius: 6rpx;
  width: 70%;
  color: #5fb7fe !important;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: flex;
  bottom: 0;
  left: 0;
  padding: 0;
  /* margin-left: 5%; */
  text-align: center;
  /* padding-left: -5rpx; */
  border-top-left-radius: 50rpx;
  border-bottom-left-radius: 50rpx;
  border-top-right-radius: 50rpx;
  border-bottom-right-radius: 50rpx;
  letter-spacing: 3rpx;
  background-color: #fff !important;
  font-weight: 550;
}

.account-login-btn {
  width: 70%;
  margin: 0 auto;
  color: #424b54 !important;
  font-size: 32rpx;
  height: 86rpx;
  line-height: 86rpx;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: flex;
  bottom: 0;
  left: 0;
  border-radius: 0;
  padding: 0;
  /* margin-left: 5%; */
  text-align: center;
  /* padding-left: -5rpx; */
  border-top-left-radius: 50rpx;
  border-bottom-left-radius: 50rpx;
  border-top-right-radius: 50rpx;
  border-bottom-right-radius: 50rpx;
  letter-spacing: 3rpx;
  background-image: linear-gradient(to right, #e5e5e5 0%, #e5e5e5 100%);
  font-weight: 550;
}
.text{
  width: 100%;
  color: #424b54;
  font-size: 26rpx;
  /* text-align: center; */
  position: fixed;
  bottom: 70rpx;
}
.text text{
 width: 80%;
 display: block;
 margin: auto;
}
