page{
  height: 100%;
  width: 100%;
  background: #f7f7f7;
}
.container{
  background: #f7f7f7;
  height: auto;
  overflow: hidden;
  width: 100%;
}
.userinfo {
/* display: flex; */
/* flex-direction: column; */
padding: 80rpx 0;
  align-items: center;
background: #5fb7fe;
  width: 100%;
  height: 380rpx;
}
button{
  border-radius: 0rpx !important;
}
.userinfo-avatar {
width: 160rpx;
height: 160rpx;
margin: 40rpx 20rpx 20rpx 40rpx;
  border-radius: 50%;
  float: left;
}

.userinfo-nickname {
/* margin-top: 20rpx; */
text-align: left;
color: #FFF;
float: left;
width: 50%;
font-size: 36rpx;
line-height: 40rpx;
}
.information{
  width: 100%;
  height: 80rpx;
  color: #fff;
  background: #5fb7fe;
}
.introducer{
  color: #fff;
  font-size: 28rpx;
  width: 60%;
  float: left;
  text-indent: 20rpx;
}
.right{
  color: #fff;
  font-size: 28rpx;
  width: 40%;
  float: left;
  text-align: right;
  padding-right: 20rpx;
}
.container1{
  height: 500rpx;
  margin-top: 250rpx;
}
ec-canvas {
  width: 100%;
  height: 100%;
}
.container1{
  position: relative;
}
.team{
  width: 25%;
  /* margin-top: -50rpx; */
  font-size: 28rpx;
  border-radius: 10rpx;
  text-align: center;
  border: 1rpx solid #000;
  position: absolute;
  top:-150rpx;
  left: 20rpx;

}
.team1{
  width: 100%;
  /* margin-top: -50rpx; */
  font-size: 28rpx;
  border-radius: 10rpx;
  text-align: left;
  /* border: 1rpx solid #000; */
  position: absolute;
  top:-100rpx;
  left: 20rpx;

}
/* 规则提示层  */
.isRuleShow{
  display: block;
}
.isRuleHide{
  display: none;
}
.ruleZhezhao{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color:rgba(0, 0, 0, .5);
  z-index: 100;
  top: 150rpx;
  left: 0;
}
.ruleZhezhaoContent{
  padding: 20rpx 0;
  width: 80%;
  background: #fff;
  z-index: 100;
  /* margin: 40% auto; */
   margin: 18% auto;
  border-radius: 20rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.ruleZhezhaoText{
  width: 80%;
  font-size: 30rpx;
  color: #856d5f;
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  margin: 25rpx 0 25rpx 0;
}
/* .ruleZhezhaoText text:nth-child(1){
  color: #fff;
  font-size: 40rpx;
  height: 60rpx;
  width: 60rpx;
  background: #664a2c;
  display: block;
  text-align: center;
  line-height: 60rpx;
  border-radius: 30rpx;
  margin-right: 10rpx;
} */
/* .ruleZhezhaoText text:nth-child(2){
  flex-wrap:wrap;
  width: 80%;
} */
.ruleZhezhaoText .title{
font-size: 30rpx;
font-weight: bold;

}
.ruleZhezhaoText .text{
  /* flex-wrap:wrap; */
  width: 100%;
  text-indent: 2em;
  line-height: 42rpx;
}
.ruleHide{
  height: 60rpx!important;
  width: 60rpx!important;
  position: absolute;
  top: -48rpx;
  right: -40rpx;
}
.rule{
  display: block;
  border: 1px solid #fff;
  width: 100rpx;
  text-align: center;
  line-height: 60rpx;
  color: #000;
  height: 60rpx;
  font-size: 30rpx;
  border-radius: 30rpx;
  position: absolute;
  top: 10%;
  right: 5%;
}
/*  end  */
.fenxiang button{
  width: 160rpx;
  height: 60rpx;
  font-size: 30rpx;
  line-height: 60rpx;
  text-align: center;
  border-top-left-radius: 20rpx !important;
  border-bottom-left-radius: 20rpx !important;
  background: #5fb7fe;
  color: #fff;
  border: 1rpx solid #fff;
  position: absolute;
  top: 154rpx;
  right: -10rpx;
}
.fenxiang .share {
  width: 200rpx;
  height: 60rpx;
  font-size: 26rpx;
  line-height: 60rpx;
  text-align: center;
  border-top-left-radius: 20rpx !important;
  border-bottom-left-radius: 20rpx !important;
  background: #5fb7fe;
  color: #fff;
  border: 1rpx solid #fff;
  position: absolute;
  top: 241rpx;
  right: -10rpx;  
}
.sy{
  width: 160rpx;
  height: 60rpx;
  font-size: 30rpx;
  line-height: 60rpx;
  text-align: center;
  background: #5fb7fe;
  color: #000;
  border: 1rpx solid #000;

}
.fenxiang1{
  text-align: left;
  color: #FFF;
  float: left;
  width:100%;
  font-size: 28rpx;
  height: 40rpx;
  margin: auto;
  margin-left: 23rpx;
}
/* .fenxiang2{
  text-align: left;
  color: #FFF;
  float: left;
  width:90%;
  font-size: 24rpx;
  margin-top: 30rpx;
  margin-left: 20rpx;
  line-height: 34rpx;
  text-indent: 2em;
} */
.fenxiang1 text{
  color: #FFF;
  font-size: 28rpx;
 
}
.company {
  font-size:20rpx;
  text-align:center;
  /* margin-top:50px; */
  margin: 20rpx auto;
  position: fixed;
  bottom: 30rpx;
  left: 20%;
}
.echarts{
  display: none;
}
/**index.wxss**/
/**app.wxss**/
/* .container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}  */

/* .userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.usermotto {
  margin-top: 200px;
} */
.container2{
  margin-top: 150rpx;
}
.canvas-share{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}
.canvas-share .photo{
  width: 100%;
  height: 1300rpx;
  
}
.canvas-share .btn{
  width: 50%;
  padding: 16rpx 20rpx;
  float: left;
  text-align: center;
  background: #fff;
  color: #000;
  font-size: 28rpx;  
  
}
.hb{
  width: 614rpx;
  margin-left: 9%;
  margin-top: 150rpx;
  height: 1064rpx;
}
.hb_button{
  width: 614rpx;
  margin-left: 9%;
}