<!--pages/wode/kaipiaoxinxi/gongsifapiaoxinxi/dizhihuodianhua/dizhihuodianhua.wxml-->

<text>地址</text>
<input placeholder='填写地址' placeholder-class='pla' value='{{dizhi}}' bindinput='dizhi'></input>
<text>电话</text>
<input placeholder='填写电话' type='number' placeholder-class='pla' value='{{dianhua}}' bindinput='dianhua'></input>
<button class='bc' bindtap='bc'>保存</button>
<view class='tishikuang' hidden='{{!tskshow}}'>
  <text>{{tsk}}</text>
</view>