page{
  width: 100%;
  height: 100%;
  /* padding: 0rpx 10rpx; */
  background: #EFEFEF;
  /* padding-bottom: 140rpx; */
}
.top{
  width: 100%;
  height: 360rpx;
  background: deepskyblue;
}
.hotelname{
  /* margin-top: 100rpx; */
  text-align: center;
  color: #fff;
  /* padding-top: 60rpx; */
  font-size: 32rpx;
}
/* .back{
  position: fixed;

} */
.romm{
  width: 100%;
  height: 100rpx;
  position: relative;
}
.room_xx{
  width: 90%;
  height: 240rpx;
  /* margin: auto; */
  padding: 20rpx 20rpx;
  background: #fff;
  border-radius: 20rpx;
  position: absolute;
  top: -160rpx;
  left: 5%;
}
.status{
  font-size: 24rpx;
  color: black;
  font-weight: 500;
  margin-top: 10rpx;
  /* margin-left: 10rpx; */
  /* font-weight: bold; */
}
.type .hotel{
  font-size: 32rpx;
  color: black;
  font-weight: bold;
  /* font-weight: bold; */
  margin:  0 10rpx;
}
.type text{
  font-size: 28rpx;
  color: black;
  font-weight: bold;
  margin:  0 10rpx;
}
.type .chakan{
  font-size: 26rpx;
  color: #0088FD;
  float: right;
}
.orderlist image{
  width:40rpx;

  float: left;
}

.icon{
  display: block;
  margin-top: 20rpx;
  margin-right: 20rpx;
}

.biaoqian text{
  font-size: 36rpx;
  color: #06BD7F;
  /* font-weight: bold; */
  margin-left: 10rpx;
  margin-right: 10rpx;
}
.details .biaoqian{
  font-size: 32rpx;
  color: black;
  /* font-weight: bold; */
  margin-top: 20rpx;
  letter-spacing:3rpx;

}
.order{
  /* background: #fff; */
  width: 100%;
  margin-top: 20rpx;
  /* padding: 10rpx  20rpx; */
}
.orderlist{
  width: 90%;
  /* height: 80rpx; */
  /* line-height: 80rpx; */
  margin:auto;
  font-size: 30rpx;
  color: black;
  /* font-weight: bold; */
  background: #fff;
  padding-left: 20rpx;
  border-radius: 20rpx;
}
.orderlist text{
  font-size: 38rpx;
  color: #FF9800;
  margin-left: 280rpx;
}
.orderlist .type{
  padding-top: 20rpx;
}
.wtlist{
  width: 100%;
  height: 160rpx;
  margin-top: 20rpx;
}
.wtlist .wt{
  width: 31%;
  font-size: 24rpx;
  text-align: center;
  line-height: 48rpx;
  /* padding: 10rpx  20rpx; */
  border: 1rpx solid #999;
  border-radius: 30rpx;
  margin-left: 10rpx;
  margin-top: 20rpx;
  float: left;
  color: #999;
}
.prompt{
  width: 90%;
  margin: auto;
}
.prompt-title{
  width: 90%;
  margin:40rpx auto;
  font-size: 28rpx;
  color: #777777;
}
.btn{
  width: 38%;
  margin:40rpx auto;
  line-height:50rpx;
  color: #fff;
  background: #FF9800;
  border-radius: 30rpx;
  font-size: 28rpx;
  font-weight: bold;
  text-align: center;
}
.partone{
  margin-bottom: 10rpx;
  height: 520rpx;
  width: 100%;
}
.content-image {
  width: 100%;
  height: 520rpx;
  margin-top: 0rpx;
  border-radius: 0rpx;
  border-top-left-radius: 20rpx;
  position: absolute;
  z-index: -1;
}

.rzxx{
  width: 100%;
  height: 300rpx;
}
.xxlist{
  width: 100%;
  font-size: 26rpx;
  color: #999;
  line-height: 50rpx;
}
.list{
  line-height: 40rpx;
  margin-top: 10rpx;
}