<!--pages/ucenter/chongzhi/chongzhi.wxml-->
<view class="content">

  <view class="top">
    会员充值大礼赠送
    <!-- <input class="input" placeholder="输入房券数"></input> -->
  </view>

  <view class="content-center"> 
    <view wx:for="{{pres}}" class=" xz {{index==id? 'xz2':'xz1'}} " value="{{item.value}}" >
      <view  data-id="{{index}}" data-value="{{item.value}}" data-roomvouchernub="{{item.roomvouchernub}}"    bindtap='changeColor'>
        {{item.value}}
      </view>
    </view>
      <!-- <view  class=" xz"  bindtap='clear'>
          <input class="shoushu" bindinput='shoushu'  placeholder="输入金额"></input>
    </view> -->
  </view>
  <view class="top1">
    <label class="input1">本次充值支付金额（元）：{{roomVoucherNub}}</label>
    <!-- <text class="input">{{roomVoucherNub}}</text> -->
  </view>
  <view class="top1" wx:if="{{roomVoucherNub!=''}}">
    <view  class="input1">本次充值您将获得 <text style="font-weight:500;font-size:36rpx;">{{bonuslist[idx]}}</text> 元房券</view>
  </view>
  <view class="button" bindtap="startAuth" >立即充值</view>
</view>

