/* @import '../orderlist.wxss'; */
page, .container {
  height: 100%;
  background: #f7f7f7;
}

.post-comment {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 30rpx;
  background: #fff;
}
.list{
  font-size: 28rpx;
  color: #000;
}
.list .hotel_name{
  font-size: 36rpx;
  font-weight: 600;
}
.post-comment .goods {
  display: flex;
  align-items: center;
  height: auto;
  line-height: 60rpx;
  /* margin-left: 31.25rpx;
  width: 96%; */
}
.post-comment .goods .img {
  height: 145.83rpx;
  width: 145.83rpx;
  background: #f7f7f7;
}
.post-comment .goods .img image {
  height: 145.83rpx;
  width: 145.83rpx;
}
.post-comment .goods .info {
  height: 145.83rpx;
  flex: 1;
  padding-left: 20rpx;
}
.post-comment .goods .name {
  margin-top: 30rpx;
  display: block;
  height: 44rpx;
  line-height: 44rpx;
  color: #333;
  font-size: 30rpx;
}
.post-comment .goods .number {
  display: block;
  height: 37rpx;
  line-height: 37rpx;
  color: #666;
  font-size: 25rpx;
}
.post-comment .goods .status {
  width: 105rpx;
  color: #e9332f ;
  font-size: 25rpx;
}
.post-comment .rater {
  display: flex;
  flex-direction: row;
  height: 55rpx;
}
.post-comment .rater .rater-title {
  font-size: 29rpx;
  padding-right: 10rpx;
}
.post-comment .rater image {
  padding-left: 5rpx;
  height: 50rpx;
  width: 50rpx;
}
.post-comment .rater .rater-desc {
  font-size: 29rpx;
  padding-left: 10rpx;
}
.post-comment .input-box {
  height: 337.5rpx;
  width: 690rpx;
  position: relative;
  background: #fff;
}

.post-comment .input-box .content {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #fff;
  font-size: 29rpx;
  border: 5px solid #f7f7f7;
  height: 300rpx;
  width: 650rpx;
  padding: 20rpx;
}

.post-comment .input-box .count {
  position: absolute;
  bottom: 20rpx;
  right: 20rpx;
  display: block;
  height: 30rpx;
  width: 50rpx;
  font-size: 29rpx;
  color: #999;
}

.post-comment .btns {
  height: 108rpx;
}

.post-comment .close {
  float: left;
  height: 108rpx;
  line-height: 108rpx;
  text-align: left;
  color: #666;
  padding: 0 30rpx;
}

.post-comment .post {
  float: right;
  height: 108rpx;
  line-height: 108rpx;
  text-align: right;
  padding: 0 30rpx;
}

.weui-uploader {
  margin-top: 50rpx;
}

.weui-uploader__hd {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.weui-uploader__title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.weui-uploader__info {
  color: #b2b2b2;
}

.weui-uploader__bd {
  margin-bottom: -4px;
  margin-right: -9px;
  overflow: hidden;
}

.weui-uploader__file {
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
}

.weui-uploader__img {
  display: block;
  width: 79px;
  height: 79px;
}

.weui-uploader__file_status {
  position: relative;
}

.weui-uploader__file_status:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.weui-uploader__file-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}

.weui-uploader__input-box {
  float: left;
  position: relative;
  margin-right: 9px;
  margin-bottom: 9px;
  width: 77px;
  height: 77px;
  border: 1px solid #d9d9d9;
}

.weui-uploader__input-box:after, .weui-uploader__input-box:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #d9d9d9;
}

.weui-uploader__input-box:before {
  width: 2px;
  height: 39.5px;
}

.weui-uploader__input-box:after {
  width: 39.5px;
  height: 2px;
}

.weui-uploader__input-box:active {
  border-color: #999;
}

.weui-uploader__input-box:active:after, .weui-uploader__input-box:active:before {
  background-color: #999;
}

.weui-uploader__input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
