<wxs src="../../../../app.wxs" module="app" />
<view class="container">
  <view class="order-info">
      <view class="t">
        <text class="lable">订单编号：</text>
        <text class="value">{{orderInfo.order_code}}</text>
      </view>
      <view class="t">
        <text class="lable">下单时间：</text>
        <text class="value">{{orderInfo.create_time}}</text>
      </view>
      <view class="t">
        <text class="lable">联系人：</text>
        <text class="value">{{orderInfo.name}}</text>
      </view>
       <view class="t">
        <text class="lable">联系电话：</text>
        <text class="value">{{orderInfo.phone}}</text>
      </view>
      <!-- <view class="b">{{orderInfo.phone}}</view> -->
  </view>
  

  <view class="order-goods">
    <view class="h">
      <view class="label">酒店信息</view>
      <view class="status">{{orderInfo.hotel_name}}</view>
    </view>
    <view class="goods" >
      <view class="item" >
        <view class="img">
          <image src="{{roomType.manImgUrl}}"></image>
        </view>
        <view class="info">
          <view class="t">
            <text class="name">{{roomType.name}}</text>
          </view>
          <view class="t">
            <text class="attr">{{roomType.roomLabel}}</text>
            <text class="number">x{{orderInfo.count}}晚</text>
          </view>
          <view class="price">￥{{orderInfo.money}}</view>
          <view class="btn active" wx:if="{{handleOption.comment && (item.comment == 0)}}">
            <navigator url="../../commentPost/commentPost?orderId={{item.orderId}}&&valueId={{item.goodsId}}&type=0">去评价</navigator>
          </view>
          <!-- <view class="btn active" wx:if="{{handleOption.rebuy}}">
            <navigator url="../../goods/goods?id={{item.goodsId}}">再次购买</navigator>
          </view> -->
        </view>
      </view>
    </view>

    <view class="order-bottom">
      <view class="total">
        <view class="t">
          <text class="label">入住：</text>
          <text class="txt">{{app.riqi1(orderInfo.check_in_time)}}</text>
        </view>
         <view class="t">
          <text class="label">离店：</text>
          <text class="txt"> {{app.riqi1(orderInfo.departure_time)}}</text>
        </view>
        <view class="t">
          <text class="label">费用：</text>
          <text class="txt">￥{{orderInfo.money}}</text>
        </view>
        
        <!-- <view class="t">
          <text class="label">优惠减免：</text>
          <text class="txt">- ￥{{orderInfo.discountPrice}}</text>
        </view> -->
      </view>
      <view class="pay-fee">
        <text class="label">实付：</text>
        <text class="txt">现金：{{orderInfo.pay_money}} </text>
        <text class="txt">房券：{{orderInfo.hotel_voucher}} </text>
      </view>

    </view>

  </view>
</view>