<view class="top-c">
	<text>家畅智慧酒店置换平台</text>
</view>
<view class="container">
	<button class="userinfo top" open-type="getUserInfo" bindgetuserinfo="bindGetUserInfo">
		<image class="set" bindtap="set" src="https://www.jiachang8.com/mpimage/images/set.png"></image>
		<!-- <image class="dingyue" bindtap="subscribeMessage" src="../../../images/kefu.png"></image> -->
		<image wx:if="{{userInfo && userInfo.avatarUrl}}" class="userinfo-avatar" src="{{ userInfo.avatarUrl }}" background-size="cover"></image>
		<!-- <image wx:if="{{avatar}}" class="userinfo-avatar" src="{{ avatar}}" background-size="cover"></image> -->

		<view class="userinfo-nickname" style="padding-top:70rpx;font-size:34 rpx;">{{ userInfo.nickName}}

		</view>
		<view class="userinfo-nickname {{userLevelId==0?'color':'color1'}}"  bindlongpress='copy' data-copy='{{username1}}'>{{user_level[userLevelId]}} {{username1}}</view>
		<!-- {{username1}} -->
		<!-- <view class="userinfo-nickname fuli">领取会员福利</view> -->
		<view class="daohang" style="display:none;">
			<view class="user-menu user-menu1" style="background: #27B4E3;">
				<view class="item">
					<navigator url="/pages/ucenter/balance/balance" class="a">
						<text class="icon  col">{{item}}</text>
						<text class="txt1">卡券包</text>
					</navigator>
				</view>
				<view class="item">
					<navigator url="/pages/ucenter/collect/collect" class="a">
						<text class="icon col">{{item}}</text>
						<text class="txt1">商品收藏</text>
					</navigator>
				</view>
				<view class="item">
					<navigator url="/pages/ucenter/collect/collect" class="a">
						<text class="icon col">{{item}}</text>
						<text class="txt1">店铺收藏</text>
					</navigator>
				</view>
				<view class="item">
					<navigator url="/pages/ucenter/footprint/footprint" class="a">
						<text class="icon col">{{item}}</text>
						<text class="txt1">足迹</text>
					</navigator>
				</view>


			</view>
		</view>

		<!-- <view class="vip" wx:if="{{userLevelId!='8'}}">
			<view class="v-left">
				<image class="icon" src="/images/vip.png"> </image>
				<text>成为超级会员</text>
				<view class="v-right" bindtap="vip">
					<text>立即查看</text>
					<image class="icon1" src="/images/next.png"></image>
				</view>
			</view>

		</view> -->

	</button>

	<!-- <view style="height:20rpx;background: #eee;width:100%;"></view> -->
	<view class="myorder" >
		<view class="user-menu">
			<view class="order-t">
				<text class="text">我的订单</text>
				<view class="order-tit" bindtap="allorder">
					<text>订房订单</text>
					<image class="icon-next" src="https://www.jiachang8.com/mpimage/images/next.png"></image>
				</view>
			</view>
		
			<view class="item1">
				<navigator url="/pages/ucenter/order/order?showType=1" class="a">
					<image class="icon" src="https://www.jiachang8.com/mpimage/images/icon/dfk.png"></image>
					<!-- <text class="txt">待付款</text> -->
					<text class="txt">待付款</text>
				</navigator>
			</view>
			<view class="item1">
				<navigator url="/pages/ucenter/order/order" class="a">
					<image class="icon" src="https://www.jiachang8.com/mpimage/images/icon/qefh.png"></image>
					<text class="txt">已确认/发货</text>
				</navigator>
			</view>
			<view class="item1">
				<navigator url="/pages/ucenter/order/order" class="a">
					<image class="icon" src="https://www.jiachang8.com/mpimage/images/icon/dwc.png"></image>
					<text class="txt">待完成/收货</text>
				</navigator>
			</view>
      <view class="item1">
				<navigator url=" " class="a">
					<image class="icon" src="https://www.jiachang8.com/mpimage/images/icon/dpj.png"></image>
					<text class="txt">待评价</text>
				</navigator>
			</view>
			<view class="item1">
				<navigator url=" " class="a">
					<image class="icon" src="https://www.jiachang8.com/mpimage/images/icon/qd.png"></image>
					<text class="txt">售后/退款</text>
				</navigator>
			</view>
			
      <view class="item1">
				<navigator url="/pages/ucenter/order/order" class="a">
					<image class="icon" src="https://www.jiachang8.com/mpimage/images/icon/slist.png"></image>
					<!-- <text class="txt">常购清单</text> -->
					<text class="txt">常购清单</text>
				</navigator>
			</view>
			<view class="item1 kefu">
				<navigator url=" " class="a">
					<image class="icon" src="https://www.jiachang8.com/mpimage/images/icon/kefu.png" style="margin-top:10rpx;"></image>
					<text style="margin-top: 20rpx;">我的客服</text>
					<button class="txt_button" open-type="contact"> </button>
				</navigator>
			</view>
			<view class="item1 ">
				<navigator url="/pages/ucenter/feedback/feedback" class="a">
					<image class="icon" src="https://www.jiachang8.com/mpimage/images/icon/fankui.png"></image>
					<text class="txt">意见反馈</text>
				</navigator>
			</view>
		</view>

	</view>
	<view class="pannel" wx:if="{{userLevelId=='8'}}">
		<view class="user-menu">
			<view class="order-t">
				<text class="text">平台工具</text>
				<!-- <view class="order-tit" bindtap="allorder">
					<text>所有功能</text>
					<image class="icon-next" src="/images/next.png"></image>
				</view> -->
			</view>
			<view class="item1"  wx:if="{{userLevelId=='8'}}">
				<navigator url="/pageA/pages/platformMana/partnerMana/partnerMana" class="a">
					<text class="icon join"></text>
					<text class="txt">合伙人管理</text>
				</navigator>
			</view>
			<view class="item1"  wx:if="{{userLevelId=='8'}}">
				<navigator url="/pageA/pages/platformMana/hotelManalist/hotelManalist" class="a">
					<text class="icon hotel_join"></text>
					<text class="txt">酒店管理</text>
				</navigator>
			</view>
			<view class="item1"  wx:if="{{userLevelId=='8'}}">
				<navigator url="/pageA/pages/platformMana/supplierMana/supplierMana" class="a">
					<text class="icon supplier_join"></text>
					<text class="txt">供应商管理</text>
				</navigator>
			</view>
			<view class="item1"  wx:if="{{userLevelId=='8'}}">
				<navigator url="/pageA/pages/platformMana/staffMana/staffMana" class="a">
					<text class="icon feedback"></text>
					<text class="txt">员工管理</text>
				</navigator>
			</view>
			<view class="item1"  wx:if="{{userLevelId=='100'}}">
				<navigator url="/pageA/pages/platformMana/supplierMana/supplierMana" class="a">
					<text class="icon supplier_join"></text>
					<text class="txt">房态/价格管理</text>
				</navigator>
			</view>
			<view class="item1"  wx:if="{{userLevelId=='100'}}">
				<navigator url="/pageA/pages/platformMana/staffMana/staffMana" class="a">
					<text class="icon feedback"></text>
					<text class="txt">订单审核</text>
				</navigator>
			</view>
			<view class="item1"  wx:if="{{userLevelId=='100'}}">
				<navigator url="/pageA/pages/platformMana/supplierMana/supplierMana" class="a">
					<text class="icon supplier_join"></text>
					<text class="txt">订单管理</text>
				</navigator>
			</view>
			<view class="item1"  wx:if="{{userLevelId=='100'}}">
				<navigator url="/pageA/pages/platformMana/staffMana/staffMana" class="a">
					<text class="icon feedback"></text>
					<text class="txt">财务管理</text>
				</navigator>
			</view>
				<view class="item1"  wx:if="{{userLevelId=='100'}}">
				<navigator url="/pageA/pages/platformMana/staffMana/staffMana" class="a">
					<text class="icon feedback"></text>
					<text class="txt">酒店管理</text>
				</navigator>
			</view>
			<view class="item1"  wx:if="{{userLevelId=='100'}}">
				<navigator url="/pageA/pages/platformMana/supplierMana/supplierMana" class="a">
					<text class="icon supplier_join"></text>
					<text class="txt">供应商管理</text>
				</navigator>
			</view>
			<view class="item1"  wx:if="{{userLevelId=='100'}}">
				<navigator url="/pageA/pages/platformMana/staffMana/staffMana" class="a">
					<text class="icon feedback"></text>
					<text class="txt">授权区域</text>
				</navigator>
			</view>
		</view>

	</view>
	<!-- <view class="my-item" style='background:none;display:flex;flex-direction:column;height:auto;'></view>   -->
	<view class="user-menu">
		<view class="order-t">
			<text class="text">我的工具</text>
			<!-- <view class="order-tit">
				<text>查看全部工具</text>
				<image class="icon-next" src="/images/next.png"></image>
			</view> -->
		</view>
		<view class="item">
			<navigator url="/pages/ucenter/balance/balance" class="a">
				<text class="icon coupon"></text>
				<text class="txt">我的卡券</text>
			</navigator>
		</view>
		<view class="item">
			<navigator url="/pages/ucenter/chongzhi/chongzhi" class="a">
				<text class="icon charge"></text>
				<text class="txt">充值有礼</text>
			</navigator>
		</view>
		<!-- <view class="item">
      <navigator url="/pages/ucenter/coupon/coupon" class="a">
        <text class="icon coupon"></text>
        <text class="txt">消费券</text>
      </navigator>
    </view>
    <view class="item">
      <navigator url="/pages/ucenter/collect/collect" class="a">
        <text class="icon card"></text>
        <text class="txt">房券余额</text>
      </navigator>
    </view> -->
		<view class="item">
			<view bindtap="subscribeMessage" class="a">
				<text class="icon my_income"></text>
				<text class="txt">会员收益</text>
			</view>
		</view>

		<view class="item">
			<navigator url="/pages/vip/vip_prerogative/vip_prerogative" class="a">
				<text class="icon membership"></text>
				<text class="txt">会员特权</text>
			</navigator>
		</view>
		<view class="item">
			<navigator url="/pages/ucenter/page1/page1" class="a">
				<text class="icon join"></text>
				<text class="txt">成为合伙人</text>
			</navigator>
		</view>
		<view class="item">
			<navigator url="/pages/ucenter/index/joinhotel/joinhotel" class="a">
				<text class="icon hotel_join"></text>
				<text class="txt">酒店加盟</text>
			</navigator>
		</view>
		<view class="item ">
			<navigator url="/pages/ucenter/index/joinvendor/joinvendor" class="a">
				<text class="icon supplier_join"></text>
				<text class="txt">供应商加盟</text>
			</navigator>
		</view>
		<view class="item ">
			<navigator url="/pages/kongbaiye/kongbaiye" class="a">
				<text class="icon contract"></text>
				<text class="txt">我的合同</text>
			</navigator>
		</view>
		<view class="item ">
			<navigator url="/pages/kongbaiye/kongbaiye" class="a">
				<text class="icon information"></text>
				<text class="txt">常用信息</text>
			</navigator>
		</view>
		<view class="item item-bottom" v-if="hasMobile != ''">
			<!-- <navigator url="/pages/auth/mobile/mobile" class="a"> -->
			<navigator url="/pages/ucenter/kaipiaoxinxi/kaipiaoxinxi" class="a">
				<text class="icon my_invoice"></text>
				<text class="txt">我的发票</text>
			</navigator>
		</view>
		<view class="item item-bottom" v-if="hasMobile != ''">
			<navigator url="/pages/kongbaiye/kongbaiye" class="a">
				<text class="icon my_hotel"></text>
				<text class="txt">我的酒店</text>
			</navigator>
		</view>
			<view class="item">
			<navigator url="/pages/kongbaiye/kongbaiye" class="a">
				<text class="icon my_service"></text>
				<text class="txt">家畅学院</text>
			</navigator>
		</view>
		<view class="item ">
			<navigator url="/pages/kongbaiye/kongbaiye" class="a">
				<text class="icon get_coupon"></text>
				<text class="txt">领券中心</text>
			</navigator>
		</view>
		<button class='service'>
			<view class="item no-border">
				<navigator url="/pages/ucenter/help/help" class="a">
					<text class="icon my_answer"></text>
					<text class="txt">我的问答</text>
				</navigator>
			</view>
		</button>
		<!-- <view class="item ">
      <navigator url=" " class="a">
        <text class="icon my_service"></text>
        <text class="txt">我的客服</text>
      </navigator>
    </view>
    <view class="item ">
      <navigator url="/pages/ucenter/balance/balance" class="a">
        <text class="icon feedback"></text>
        <text class="txt">意见反馈</text>
      </navigator>
    </view> -->

		<view class="item ">
			<navigator url="/pages/ucenter/redpacket/redpacket" class="a">
				<text class="icon payment"></text>
				<text class="txt">红包转账</text>
			</navigator>
		</view>
		<view class="item" bindtap="myteam">
			<navigator url=" " class="a">
				<text class="icon feedback"></text>
				<text class="txt">我的团队</text>
			</navigator>
		</view>


	</view>
	<view class='company'>上海家畅物联网集团有限公司提供技术支持 © 2020
		<view>全国客服热线：400-756-9888 </view>
	</view>

	<!-- <view class="logout" bindtap="exitLogin">退出登录</view> -->
</view>